@model HussainExport.Client.Models.SaleContractVM

@{
    ViewData["Title"] = "Delete Sale Contract";
}
<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0"> @ViewData["Title"]</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">@ViewData["Title"]</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<!-- Main content -->
<section class="content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-12">


                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">@ViewData["Title"]</h3>

                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <dl class="row">
                            <dt class="col-sm-2">
                                @Html.Label("Sale Contract Number")
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.SaleContractNumber)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.Label("Total Amount")
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.TotalAmount)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.Label("Delivery Time")
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.DeliverySchedule)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.Label("Shipment Details")
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.ShipmentDetails)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.Label("Packing")
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Packing)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.Label("Description")
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Description)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.Label("IsActive")
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.IsActive)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.Label("Added Date")
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.DateAdded)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.Label("Updated Date")
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.DateUpdated)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.Label("Currency")
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Currency.CurrencyId)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.Label("Customer")
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Customer.CustomerId)
                            </dd>
                        </dl>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                        <div class="float-sm-right">
                            <form asp-action="Delete">
                                <input type="hidden" asp-for="SaleContractId" />
                                <input type="submit" value="Delete" class="btn btn-block btn-danger" /> 
                                <a asp-action="Index" class="btn btn-block btn-primary">Back to List</a>
                            </form>
                           
                        </div>
                    </div>
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
<!-- /.content -->
